@charset "utf-8";
.muccon{
  width: 100%;
  border-radius: 6px;
  border: 1px solid #3bbbcc;
  font-family:  sans-serif;
  font-size: 13px;
  float:  left;
  margin-bottom: 25px;
  padding-bottom: 25px;
  position:  relative;
}
.muccon h3{
  background: linear-gradient(141deg, #24b8ae 0%, #4cbde7 75%);
  width: 100%;
  padding: 6px 0px;
  font-family: sans-serif;
  color: #fff;
  border-radius: 5px 5px 0px 0px;
  text-align: center;
  font-size: 18px;
}
.tinmoi{
    width:  100%;
    float:  left;
}
.tincon{float:  left;margin-bottom: 15px;font-family:  sans-serif;font-size: 13px;margin-left: 5px;width: 100%;}
.tincon .hinhtin{width: 22%;height: 60px;float:  left;margin-right: 5px;background-size: cover;background-position:  center;border-radius: 6px;}
.tincon .tomtattin{float:  left;width: 75%;}
.tinmoi a{
  color:#212121;
}
.tinmoi a:hover{
  color:#2b6dce;
}
.tieudemuccon{
  width:100%;
  float: left;
}
.tieu-de-tin{color: #1c7fe8 !important;font-weight: 600;font-size: 14px;}
.noidungtin{
padding: 0px 5px;
}
.thongtinchung{
    margin-top: 5px;
}
.thongtinchung ul{
  margin-bottom: 0px;
  padding-left: 30px;
}
.nut-link{
  background: linear-gradient(141deg, #24b8ae 0%, #49c8d6 51%, #4cbde7 75%);
  color:  #fff;
  padding: 10px 10px;
  border-radius: 6px;
  box-shadow: 2px 2px 8px 0px #cacaca;
}
.muccon center{
  position:absolute;
  bottom: -9px;
  left: 0;
  right: 0;
}
.footer {
    float:  left;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

.chi-tiet-bai-viet{
  width:100% !important;
  float: left;
}
.vlu-chi-tiet-header-bai-viet{
  width: 100%;
  float: left;
  position: relative;
}

.vlu-chi-tiet-header-bai-viet article{
  width: 100%;
  height: 275px;
  background-position: center;
  background-size: cover;
}
.vlu-chi-tiet-hinh-anh-tin{

}
.vlu-chi-tiet-hinh-anh-tin a{
  text-decoration: none;
}
.vlu-chi-tiet-link-bai-viet{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.23456789);
  padding: 10px;
}
.vlu-chi-tieu-tieu-de-bai-viet{
    font-family: sans-serif;
    font-size: 150%;
    color: #fff;
    font-weight: 500;
}
.vlu-chi-tiet-link-bai-viet div{

}
.vlu-chi-tiet-bai-viet{float:  left;padding: 10px 4px;width:  100%;overflow:  -webkit-paged-x;}
.vlu-chi-tiet-thoi-gian-bai-viet{
  color: #e0e0e0;
  font-size: 90%;
  padding: 6px 2px;
}
.detailienquan{
    color: #2279fa;
    font-size: 18px;
    font-weight: 400;
    font-family: sans-serif;
    margin: 1rem 0rem 0.5rem 0rem;
    text-decoration:  underline;
}
.lienquan{
    margin: 0rem 0.5rem;
    font-family:  sans-serif;
    font-weight:  100;
}
.lienquan h3{
    font-weight: 100;
}
.lienquan h3 a{
    color: #212121;
    text-decoration:  none;
    font-size: 15px;
}
.lienquan h3 a:hover{
  text-decoration: underline;
}