RewriteEngine On
RewriteRule ^xemtin/(.*)-(.*).ltn$ ?p=xemtin&id=$2&tieude=$1
RewriteRule ^xemdetai/(.*)-(.*).ltn$ ?p=xemdetai&id=$2&tieude=$1
RewriteRule ^xembaibao/(.*)-(.*).ltn$ ?p=xembaibao&id=$2&tieude=$1
RewriteRule ^baokhoahoc$ ?p=baokhoahoc
RewriteRule ^bieumau$ ?p=bieumau
RewriteRule ^nckhdacongbo$ ?p=nckhdacongbo
RewriteRule ^nckhdexuatmoi$ ?p=nckhdexuatmoi
RewriteRule ^chuyenmuc/(.*)-(.*)$ ?p=tintuc&id=$2&ten=$1
RewriteRule ^hoptacquocte/(.*)-(.*)$ ?p=hoptacquocte&id=$2&ten=$1
RewriteRule ^timkiem$ ?p=timkiem
RewriteRule ^tag/(.*)$ ?p=tag&tag=$1
RewriteRule ^tintuc/(.*)/(.*)$ ?p=tintuc&id=$1&trang=$2
RewriteRule ^nckhdacongbo/(.*)$ ?p=nckhdacongbo&trang=$1