<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1">
                    <match url="^xemtin/(.*)-(.*).ltn$" ignoreCase="false" />
                    <action type="Rewrite" url="?p=xemtin&amp;id={R:2}&amp;tieude={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 2">
                    <match url="^xemdetai/(.*)-(.*).ltn$" ignoreCase="false" />
                    <action type="Rewrite" url="?p=xemdetai&amp;id={R:2}&amp;tieude={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 3">
                    <match url="^xembaibao/(.*)-(.*).ltn$" ignoreCase="false" />
                    <action type="Rewrite" url="?p=xembaibao&amp;id={R:2}&amp;tieude={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 4">
                    <match url="^baokhoahoc$" ignoreCase="false" />
                    <action type="Rewrite" url="?p=baokhoahoc" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 5">
                    <match url="^bieumau$" ignoreCase="false" />
                    <action type="Rewrite" url="?p=bieumau" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 6">
                    <match url="^nckhdacongbo$" ignoreCase="false" />
                    <action type="Rewrite" url="?p=nckhdacongbo" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 7">
                    <match url="^nckhdexuatmoi$" ignoreCase="false" />
                    <action type="Rewrite" url="?p=nckhdexuatmoi" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 8">
                    <match url="^chuyenmuc/(.*)-(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="?p=tintuc&amp;id={R:2}&amp;ten={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 9">
                    <match url="^hoptacquocte/(.*)-(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="?p=hoptacquocte&amp;id={R:2}&amp;ten={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 10">
                    <match url="^timkiem$" ignoreCase="false" />
                    <action type="Rewrite" url="?p=timkiem" appendQueryString="false" />
                </rule>
                
            </rules>
        </rewrite>
    </system.webServer>
</configuration>